#clave secreta de django
SECRET_KEY = 'django-insecure-hr6#zr+ykg$_$d#rv#_gmu)z&!$kc+rp!1yk7dyu_p$fz6odt@'

#modo de depuracion (True/False)
DEBUG=True 

#HOST permitido
ALLOWED_HOSTS = "127.0.0.1"

#URL de la base de datos
DATABASE_URL = mysql://root:@localhost:3306/api